.srizon a {
  cursor: pointer;
}

.srizon a:hover {
  text-decoration: underline;
}

.srizon .clickable {
  cursor: pointer;
}

.srizon .clickable:hover h5 {
  font-weight: 300 !important;
}

.srizon .big-icon {
  font-size: 98px;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 9999;
}

.get-token-button {
  width: 100%;
  padding: 30px 0;
}

.get-token-button .btn {
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 30px;
  text-transform: none;
}

.srizon .card {
  border: 0;
  padding: 0;
}

.srizon .app-title .chip-col h5 {
  margin-top: 10px;
  margin-bottom: 2px;
}

.scale-enter {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.scale-enter.scale-enter-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.scale-leave {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.scale-leave.scale-leave-active {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.slide-up-enter {
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  top: 20px;
  opacity: 0;
}

.slide-up-enter.slide-up-enter-active {
  position: relative;
  top: 0px;
  opacity: 1;
}

.slide-up-leave {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: relative;
  top: 0px;
  opacity: 1;
}

.slide-up-leave.slide-up-leave-active {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: relative;
  top: -100px;
  opacity: 0;
}

.srizon .temp-msg {
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 7px black;
          box-shadow: 2px 2px 7px black;
}

.srizon .temp-msg h5 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.srizon .card {
  min-width: 50px;
  max-width: 100%;
}

.top50 {
  margin-top: 50px;
}

.top20 {
  margin-top: 20px;
}

.top10 {
  margin-top: 10px;
}

.pl0 {
  padding-left: 0 !important;
}

@-webkit-keyframes autofill {
  to {
    color: #cccc00;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

#nano-bar-id {
  z-index: 99999;
}

#nano-bar-id .bar {
  background-color: red;
}

.thin {
  font-weight: 200 !important;
}

.connected-user {
  cursor: pointer;
}

.svg-button-icon {
  line-height: 97px;
  padding-right: 10px;
}

.svg-button-icon svg {
  width: 40px;
  height: 40px;
  color: white;
  fill: white;
}

.srizon {
  margin-top: 10px !important;
}

