.srizon {
  a {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .clickable {
    cursor: pointer;
    &:hover {
      h5 {
        text-decoration: underline;
        text-decoration-color: #cfcfcf;
      }
    }
  }
  .big-icon {
    font-size: 98px;
  }
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 9999;
}
