@import "common";
@import "fix";
@import "card";
@import "button";
@import "get_token_button";
@import "app_title";
@import "transitions";
@import "flash_messages";
@import "external_override";
@import "form";

.srizon {
  margin-top: 10px !important;
}