@import "../../admin/sass/color";
@import "../../admin/sass/common";
@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.srizon {
  margin-top: 10px !important;
  .image-gallery-content {
    button {
      background: none;
      font-size: 48px;
    }
  }
  .srzinst {
    img {
      box-shadow: none !important;
    }
  }
  .image-gallery-thumbnail {
    a {
      text-decoration: none !important;
      &:hover {
        text-decoration: none !important;
        border: none !important;
      }
    }
    img {
      vertical-align: middle !important;
      width: 100% !important;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
      &:hover {
        border: none !important;;
      }
    }
  }
}

#lightboxBackdrop {
  button {
    background: none !important;
  }
  figure {
    text-align: center;
    div {
      max-width: 800px;
      figcaption {
        text-align: left;
      }
    }
  }
}

.srizon-tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}